@import url('https://db.onlinewebfonts.com/c/7017698b5c5a2cc397cd3b0c0984d76f?family=U8');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif!important;
    color: #353535;
    font-size: 16px;
}

.faq-link>a{
    color: #2b5ed3!important;    
}

/*---------FAQ Intro------------*/
.intro{
    text-align: center;
    min-height: 420px;
    background: #f9f9f9;
    position: relative;
}

.intro .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.intro h1 {
    font-family: 'U8';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 20px;
}

.intro .inp {
    max-width: 870px;
    margin: auto;
}
.intro input {
    width: 100%;
    height: 70px;
    border: 1px solid #8495b1;
    outline: none;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 16px;
}

.faq-header{
    font-size: 40px;
    font-family: "U8";
    font-weight: 800;
    width: 60%;
    margin: 0 auto;
}

.faq-search{
    width: 60%;
    height: 5em;
    border-radius: 10px;
    padding: 0.5em 2em;
}

/* ******Main Section******* */
.main-section .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
    gap: 20px;
    /* flex-wrap: wrap; */
}

.main-section .container .left {
    flex-basis: 25%;
    padding: 15px 15px 0 15px;
    border: 1px solid rgba(132,149,177,.3);
    border-radius: 15px;
    overflow: scroll;
    flex-wrap: wrap;
}

.main-section .container .left li {
    font-size: 18px;
    font-family: 'U8', sans-serif;
    transition: all 0.5s ease;
    padding: 10px;
}

.main-section .container .left li:hover {
    font-weight: 700;
    padding-left: 30px;
    background: #ededee;
    cursor: pointer;
    border-radius: 10px;
}

.main-section .container .right {
    flex-basis: 70%;
}

.main-section .item {
    cursor: pointer;
}

.main-section .container .right .item-first {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(132,149,177,.3);
    padding-top: 20px;
    padding-left: 20px;
}

.main-section .container .right .item-first h3 {
    font-size: 30px;
    font-family: 'U8', sans-serif;
    font-weight: 400;
}
.main-section .item .item-second{
    padding-top: 30px;
    padding-left: 50px;
    display: none;
}

.main-section .item.open .item-second {
    display: block;
}

.main-section .container .right .item-second h3 {
    padding-bottom: 20px;
    padding-top: 10px;
}
.main-section .container .right .item-second p{
    padding-bottom: 20px;
}


/*-------------Stories Info---------*/
.stories-info{
    display: flex;
    margin: 5em 3em;
}

.stories-info .left{
    width: 40%;
    margin-right: 1em;
}

.smiling-picture{
    width: 100%;
}

.stories-info .right {
    width: 60%;
    margin: auto 2em;
    padding-left: 2em;
}

.stories-info .right p {
    width: 420px;
    padding: 10px 0;
    line-height: 1.75;
}

.customers{
    font-family: "U8";
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.free-button {
    padding: 16px 30px;
    background: #0c1825;
    border-radius: 10px;
    margin-bottom: 30px;
}

.free-button a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.side {
    display: flex;
    gap: 20px;
}
.side button {
    padding: 16px 16px;
    border-radius: 10px;
    border: 1px solid grey;
    background: white;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 600;
}

.side button:hover {
    transform: translateY(-10px);
}

.side button i {
    font-size: 22px;
}

@keyframes moving {
    0% {
        top: 0px
    }

    100% {
        top: -600px
    }
}

/*-------Fetaured Section----------*/
.seven {
    background: #f9f9f9;
}

.seven .wrapper {
    display: flex;
    gap: 200px;
    padding: 60px 100px;

}

.seven .wrapper .left h2 {
    font-size: 26px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
}
.seven .wrapper .right {
    display: flex;
    gap: 50px;
}
.seven .wrapper .right .image {
    width: 150px;
}

.seven .wrapper .right .image  img {
    width: 100%;
}