@import url('https://db.onlinewebfonts.com/c/7017698b5c5a2cc397cd3b0c0984d76f?family=U8');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif!important;
    color: #353535;
    font-size: 16px;
}

.invest-link>a{
    color: #7913e5;    
}

/* -----------Main Content----------- */
.container{
    margin-top: 5em;
}

/* Intro */
.intro{
    padding: 8em 1em;
    margin: 0.5em 0;
    display: flex;
    /* background-image: #7913E5;
    background-size: 25% 100%;
    background-position: 70% 50%; */
} 

.intro-left{
    width: 60%;
    margin: auto 0 auto 3em ;
}

.big-header{
    font-size: 60px;
    font-family: "U8";
    color: black;
    font-weight: 800;
}

.invest-go{
    width: 80%;
    font-size: 60px;
}

.intro-text{
    margin-bottom: 10px;
    color: #353535;
    font-size: 16.5px;
}

.savings-container{
    margin: 2em 0;
}

.savings{
    text-decoration: none;
    color: white;
    padding: 1em 1.5em;
    background-color: #7913e5;
    font-weight: 600;
    border: 1px solid #7913e5;
    border-radius: 10px;
    margin: 5em 0;

}

.intro-right{
    width: 40%;
}

.main-image{
    width: 60%;
}

.smaller {
    width: 70%;
}

.intro-images{
    margin-left: 1em;
}

.intro-right .intro-images {
    position: relative;
}

.intro-right .intro-images .card01 {
    position: absolute;
    top: 30%;
    left: -30%;

}

.intro-right .intro-images .card02 {
    position: absolute;
    top: 55%;
    left: -30%;

}

.cross{
    position: absolute;
    bottom: 95%;
    right: 95%;
}

.dots{
    position: absolute;
    font-size: 40px;
    bottom: 60%;
    left: 62%;
}

/* -------Types------- */
.types{
    margin-bottom: 7em;
}
.type-header{
    font-size: 50px;
    text-align: center;
}

.types> p{
    font-size: 16px;
    text-align: center;
}

.invest-type{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.each-type{
    background-color: #f9f9f9;
    width: 27%;
    margin: 1.5em 2%;
    padding: 2em;
    border-radius: 20px;
}

.title{
    font-family: "U8";
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 1em 0;
}

.invest-image{
    width: 3em;
    margin-bottom: 1em;
}

.invest-info{
    font-size: 16px;
    line-height: 1.75;
}

/* -------Info Section----- */
.information{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 6em;
}

.info-text{
    width: 60%;
    background-color: #7913e5;
    padding: 4em;
}

.info-header{
    font-size: 40px;
    width: 90%;
    font-weight: 900;
    color: #fff;
    line-height: 1.5;
}

.info-info{
    width: 75%;
    color: white;
    line-height: 1.5;
}

.info-image{
   width: 40%;
   background-image: url("https://storage.googleapis.com/piggyvestwebsite/piggywebsite2020/image_10ee373879/image_10ee373879.png"); 
   background-repeat: no-repeat; 
   background-size: cover; 
   background-position: center center;
}

.info-image>img{
    width: 100%;
    height: 100%;
}

/* -------Opportunities------- */
/* .opportunities{
    
} */

.feature-header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.invest-features{
    display: flex;
    flex-wrap: wrap;
}

.opportunities-type{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1em;
    border-radius: 20px;
    background-color: #f9f9f9;
}

.opportunities-type:hover{
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2);
    transition-duration: 1s;
}

.opportunities-image{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 120px;
}

.image1{
    background-image: url("./images/invest/thumb1.jpg");
    background-size: cover;
    background-position: center;
}

.image2{
    background-image: url("./images/invest/thumb2.jpg");
    background-size: cover;
    background-position: center;
}

.image3{
    background-image: url("./images/invest/thumb3.png");
    background-size: cover;
    background-position: center;
}

.image4{
    background-image: url("./images/invest/thumb4.jpeg");
    background-size: cover;
    background-position: center;
}

.image5{
    background-image: url("./images/invest/thumb5.png");
    background-size: cover;
    background-position: center;
}

.image6{
    background-image: url("./images/invest/thumb6.jpg");
    background-size: cover;
    background-position: center;
}

.feature-content{
    padding: 1em 2em;
    padding-bottom: 3em;
}

.feature-topic{
    font-family: "U8";
    font-size: 18px;
    font-weight: 800;
    color: black;
    margin: 1em 0;
    line-height: 1.5;
}

.feature-component{
    display: flex;
    padding-bottom: 2em;
}

.insider{
    width: 50%;
    line-height: 1.5;
}

.feature-component > div> span{
    font-family: "U8";
    font-weight: bolder;
}

.feature-link{
    font-weight: bolder;
    padding: 0.75em;
    border-radius: 20px;
    color: rgb(63, 154, 63);
    background-color: rgba(63, 154, 63, 0.067);
}

.feature-link:hover{
    color: rgb(54, 114, 54);
    background-color: rgba(63, 154, 63, 0.067);
}

.sold-out{
    color: rgb(179, 46, 88);
    background-color: rgba(179, 46, 88, 0.067);
}

.sold-out:hover{
    color: rgb(135, 55, 81);   
    background-color: rgba(179, 46, 88, 0.067);
}

/*-----------Section Six-----------------*/
.six {
    margin: 100px 0;
}

.six .wrapper {
    display: flex;
    gap: 100px;
    padding: 0 70px;
}

.six .wrapper .left {
    height: 500px;
    overflow: hidden;
    position: relative;
}
.six .wrapper .card {
    position: relative;
    top: 0%;
    margin-bottom: 20px;
    padding: 13px;
    animation: moving 20s linear infinite;
}


.six .wrapper .card3, .six .wrapper .card4 {
    width: 400px;
    height: 150px;
    background: #f9f9f9;
}

.six .wrapper .card1 {
    width: 400px;
    height: 450px;
    
    background: #f9f9f9;
}

.six .wrapper .card2 {
    width: 400px;
    height: 250px;
    
    background: #f9f9f9;
}



.six .wrapper img {
    width: 40px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
}

.six .wrapper .profile {
    display: flex;
    gap: 20px;
    padding-top: 14px;
}


.six .wrapper .left p {
    font-size: 13px;
}

.six .wrapper .left small {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}

.six .wrapper .left h6 {
    font-size: 14px;
    font-weight: bold;
}

.six .wrapper .right {
    padding-top: 50px;
}

.six .wrapper .right p {
    width: 420px;
    padding: 30px 0;
    font-size: 17px;
    line-height: 1.75;
}

.customers{
    font-family: "U8";
    font-size: 36px;
    color: black;
    font-weight: bolder;
}

.free-button {
    padding: 16px 30px;
    background: #0c1825;
    border-radius: 10px;
    margin-bottom: 30px;
}

.free-button a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.side {
    display: flex;
    gap: 20px;
}
.side button {
    padding: 16px 16px;
    border-radius: 10px;
    border: 1px solid grey;
    background: white;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 600;
}

.side button:hover {
    transform: translateY(-10px);
}

.side button i {
    font-size: 22px;
}

@keyframes moving {
    0% {
        top: 0px
    }

    100% {
        top: -600px
    }
}

/* ---------Section Seven-------- */
.seven {
    background: #f9f9f9;
}

.seven .wrapper {
    display: flex;
    gap: 200px;
    padding: 60px 100px;

}

.seven .wrapper .left h2 {
    font-size: 26px;
    font-weight: bold;
    padding-left: 20px;
}
.seven .wrapper .right {
    display: flex;
    gap: 50px;
}
.seven .wrapper .right .image {
    width: 150px;
}

.seven .wrapper .right .image  img {
    width: 100%;
}