@import url('https://db.onlinewebfonts.com/c/7017698b5c5a2cc397cd3b0c0984d76f?family=U8');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif!important;
    color: #353535;
    font-size: 16px;
}

.invest-link>a{
    color: #7913e5;    
}

/* -----------Main Content----------- */
.container{
    margin-top: 5em;
}

/* Intro */
.intro{
    padding: 2em 1em;
    margin-bottom: 4em;
    display: flex;
} 

.intro-left{
    width: 60%;
    margin: auto 0 auto 3em ;
}

.big-header{
    font-size: 70px;
    font-family: "U8";
    color: black;
    font-weight: 800;
}
.intro-text{
    margin-bottom: 10px;
    color: #353535;
    font-size: 16.5px;
}

.savings-container{
    margin: 2em 0;
}
.savings{
    text-decoration: none;
    color: white;
    padding: 1em 1.5em;
    background-color: #7913e5;
    font-weight: 600;
    border: 1px solid #7913e5;
    border-radius: 10px;
    margin: 5em 0;

}

.intro-right{
    width: 40%;
}

.main-image{
    width: 60%;
}

.small {
    width: 70%;
}

.intro-images{
    margin-left: 1em;
}

.intro-right .intro-images {
    position: relative;
}

.intro-right .intro-images .card1 {
    position: absolute;
    top: 30%;
    left: -30%;

}

.intro-right .intro-images .card2 {
    position: absolute;
    top: 55%;
    left: -30%;

}

/* -------Types------- */
.types{
    margin-bottom: 7em;
}
.type-header{
    font-size: 50px;
    text-align: center;
}

.types> p{
    font-size: 16px;
    text-align: center;
}

.invest-type{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

.each-type{
    background-color: #f9f9f9;
    width: 27%;
    margin: 1.5em 2%;
    padding: 2em;
    border-radius: 20px;
}

.title{
    font-family: "U8";
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 1em 0;
}

.invest-image{
    width: 3em;
    margin-bottom: 1em;
}

.invest-info{
    font-size: 16px;
    line-height: 1.75;
}

/* -------Info Section----- */
.info{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 10em;
}

.info-text{
    width: 60%;
    background-color: #7913e5;
    padding: 4em;
}

.info-header{
    font-size: 50px;
    width: 90%;
    font-weight: 900;
    color: #fff;
}

.info-info{
    width: 75%;
    color: white;
    line-height: 2;
}

.info-image{
   width: 40%;
}

.info-image>img{
    width: 100%;
    height: 100%;
}

/* -------Opportunities------- */
.opportunities{
    margin-top: 5em;
}

.feature-header{
    font-size: 50px;
    text-align: center;
    margin-bottom: 1.5em;
}

.invest-features{
    display: flex;
    flex-wrap: wrap;
}

.opportunities-type{
    width: 30%;
    margin: 1em;
    border-radius: 20px;
    background-color: #f9f9f9;
    padding-bottom: 2em;
}

.opportunities-type :hover{
    background-color: rgb(255, 255, 255);
}

.opportunities-type> img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100px;
}

.feature-content{
    padding: 1em 2em;
}

.feature-topic{
    font-family: "U8";
    font-size: 20px;
    font-weight: 800;
    color: black;
    margin: 1em 0;
    line-height: 1.5;
}

.feature-component{
    display: flex;
    margin-bottom: 2em;
}

.insider{
    width: 50%;
    line-height: 1.5;
}

.feature-component > div> span{
    font-family: "U8";
    font-weight: bolder;
}

.feature-link{
    font-weight: bolder;
    padding: 0.75em;
    border-radius: 20px;
    color: rgb(63, 154, 63);
    background-color: rgba(63, 154, 63, 0.067);
    margin-bottom: 20em
}

.feature-link:hover{
    color: rgb(54, 114, 54);
    background-color: rgba(63, 154, 63, 0.067);
}

.sold-out{
    color: rgb(179, 46, 88);
    background-color: rgba(179, 46, 88, 0.067);
}

.sold-out:hover{
    color: rgb(135, 55, 81);   
    background-color: rgba(179, 46, 88, 0.067);
}