@import url('https://db.onlinewebfonts.com/c/7017698b5c5a2cc397cd3b0c0984d76f?family=U8');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif!important;
    color: #353535;
    font-size: 16px;
}

.container{
    margin-top: 5em;
}

.stories-link>a{
    color:#2b5ed3;
}

/*-------------Intro----------*/
.intro{
    padding: 6em 1em 2em 1em;
    margin-bottom: 4em;
    display: flex;
} 

.intro-left{
    width: 50%;
    margin: auto 0 auto 3em ;
}

.big-header{
    font-size: 60px;
    font-family: "U8";
    color: black;
    font-weight: 800;
    line-height: 1.2;
}

/* Styling Heart */
.fa-heart {
    color: blue;
    animation: pulse 2.5s linear infinite;
}
  
@keyframes pulse {
    0%{
      transform: scale(0.65);
      opacity: 0.75;
    }
    50%{
      transform: scale(0.8);
      opacity:0.75;
    }
    100%{
      transform: scale(0.65);
      opacity:0.75;
    }
}

.intro-text{
    margin-bottom: 2em;
    color: #353535;
    /* font-size: 16.5px; */
    width: 80%;
    line-height: 1.5;
}

.stories-button{
    font-weight: 600;
    color: rgb(255, 251, 251);
    margin: 2em 0;
    padding: 0.75em;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}

.intro-right{
    width: 50%;
    position: relative;
    top: 0;
    left: 0;
}

.square{
    width: 95%;
    /* height: auto; */
    position: relative;
    top: 0;
    left: 0;
}

.main-image{
    width: 100%;
    position: absolute;
    top: 30px;
    right: 60px;
}

.fa-stop-circle{
    position: relative;
    color: rgb(206, 224, 206);
    top: -200px;
}

/*-----------Stories Section-----------*/
.stories-section{
    text-align: center;
}

.topic{
    font-size: 50px;
    margin: 2em auto 1em auto;
}

.all-stories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.each-story{
    width: 30%;
    background-color: #f5f5f5;
    text-align: left;
    padding: 2em;
    border-radius: 20px;
    margin: 1.5em 1em;
}

.story-image{
    width: 3em;
    border-radius: 50px;
}

.name{
    font-family: "U8";
    font-size: 18px;
    font-weight: 600;
    margin: 1.5em 0;
}

.testimonial{
    font-size: 15px;
    line-height: 1.75;
    margin-bottom: 3em;
}

.date{
    font-size: 12px;
    color:#928989;
}

/*-------------Stories Info---------*/
.stories-info{
    display: flex;
    margin: 5em 3em;
}

.stories-info .left{
    width: 40%;
    margin-right: 1em;
}

.smiling-picture{
    width: 100%;
}

.stories-info .right {
    width: 60%;
    margin: auto 2em;
    padding-left: 2em;
}

.stories-info .right p {
    width: 420px;
    padding: 10px 0;
    line-height: 1.75;
}

.customers{
    font-family: "U8";
    font-size: 30px;
    color: black;
    font-weight: bolder;
}

.free-button {
    padding: 16px 30px;
    background: #0c1825;
    border-radius: 10px;
    margin-bottom: 30px;
}

.free-button a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.side {
    display: flex;
    gap: 20px;
}
.side button {
    padding: 16px 16px;
    border-radius: 10px;
    border: 1px solid grey;
    background: white;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: 600;
}

.side button:hover {
    transform: translateY(-10px);
}

.side button i {
    font-size: 22px;
}

@keyframes moving {
    0% {
        top: 0px
    }

    100% {
        top: -600px
    }
}

/*-------Fetaured Section----------*/
.seven {
    background: #f9f9f9;
}

.seven .wrapper {
    display: flex;
    gap: 200px;
    padding: 60px 100px;

}

.seven .wrapper .left h2 {
    font-size: 26px;
    color: black;
    font-weight: bold;
    padding-left: 20px;
}
.seven .wrapper .right {
    display: flex;
    gap: 50px;
}
.seven .wrapper .right .image {
    width: 150px;
}

.seven .wrapper .right .image  img {
    width: 100%;
}