@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/7017698b5c5a2cc397cd3b0c0984d76f?family=U8');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif!important;
    color: #353535;
    font-size: 16px;

}


button {
    border: none;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 7px 0 #ced3da;
    z-index: 1000!important;
    transition: all 0.5s ease;
    
}

.sticky + .first {
    padding-top: 90px;
}

#header1 {
    background-color: white;
}

.top-nav{
    display: flex;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    max-width: 1200px;
    background: white;
    margin: 0 auto;
    justify-content: space-between;
    
}

.links{
    display: flex;
    gap: 30px;
}

.links a {
    font-weight: bold;
}


.logoimage {
    margin-left: -10px;
}
.newpage{
    margin: auto 2%;
    list-style-type: none;
    font-size: 0.9em;
    font-weight: 300;
}

.newpage>a{    
    text-decoration: none;
    color: #0c1825;
}

.user{
    display: flex;
    margin-right: 20px;
}

.sign-in-button{
    padding: 1em;
    margin-right: 1em;
    color: #0c1825;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 10px;
    font-weight: 600;    
    transition: border .8s,color .8s;
    font-size: 16px;
}

.sign-in-button:hover{
    border: 1px solid #3457D5;
    color: #3457D5;
    cursor: pointer;
}

.register-button{
    padding: 1em 1.5em;
    color: #fff;
    background: #0c1825;
    transition: all 0.5s ease;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;  
}

.register-button:hover{
    /* border: 1px solid #3457D5; */
    background: #0d60d8;
    cursor: pointer;
}

li{
    list-style-type: none;
    margin-bottom: 20px;
}

a{
    color: #353535;
    text-decoration: none;
}

h4, .socials {
    margin-bottom: 30px;
}

.menu-btn, .close-btn{
    display: none;
}

/* ****First Section****** */
.first {
    margin: 120px 40px;
    
}

#first1 {
    margin-top: 0;
}

.first-first {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
    gap: 150px;
}

.first .left {
    max-width: 500px;
    padding-top: 70px;
}

.first .left h1 {
    font-family: 'U8', sans-serif!important;
    font-weight: bold;
    font-size: 60px;
    color: #0c1825;
    line-height: 80px;
}

.first-first p {
    padding: 20px 0;
}

.left p {
    line-height: 25px;
}

.free-button {
    padding: 16px 30px;
    background: #0c1825;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.free-button:hover {
    background-color: #0d60d8;
}


.free-button a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.side {
    display: flex;
    gap: 20px;
}
.side button {
    padding: 16px 16px;
    border-radius: 10px;
    border: 1px solid grey;
    background: white;
    transition: all 0.5s ease;
    cursor: pointer;

}

.side button:hover {
    transform: translateY(-10px);
}

.side button i {
    font-size: 22px;
}

.small {
    width: 220px;
}

.first .right .image {
    max-width: 500px;
}

.first .right .image {
    position: relative;
}

.first .right .image .rect {
    position: relative;
    right: -20%;
    top: -5%;
}

.first .right .image .girl {
    position: absolute;
    top: 6%;
    left: 10%;
}

.right .image .red {
    position: absolute;
    top: 25%;
    left: -12%;

}

.right .image .gr {
    position: absolute;
    bottom: 12%;
    right: -40%;

}

.first .right .image .cross {
    width: 90px;
    position: absolute;
    top: 0%;
    left: -2%;
}

.first .right .image .round {
    width: 50px;
    position: absolute;
    top: 25%;
    right: -17%;
}

.first .right .image .dot-dot {
    width: 90px;
    position: absolute;
    bottom: 18%;
    left: -2%;
}  

.second {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-left: 200px;
}

.second .left {
    max-width: 100px;
    display: flex;
    align-items: center;
}

.second .left img {
    width: 100%;
}

.second .right {
    max-width: 700px;
    
}

.second .right h1 {
    font-size: 35px;
}

.second .right p {
    padding-top: 15px;
    padding-bottom: 25px;

}

.second .right a {
    color: blue;
}

.second .right a i {
    font-size: 10px;
    
}

.third img {
    width: 50px;
}

.third {
    padding: 80px 0;
}

.third-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 130px;
    position: relative;
}

.third .left {
    max-width: 300px;
    margin-top: 60px;
}

.third .left h1  {
    font-size: 35px;
    line-height: 45px;

}

.third .left p {
    padding-top: 20px;
    padding-bottom: 60px;
}

.third .left a {
    padding: 15px 15px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    
}

.third .left a:hover {
    background-color: #0d60d8;
}

.third .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
}

.third .right .card {
    background-color: #f9f9f9;
    width: 350px;
    height: 350px;
    padding: 30px;
    border-radius: 30px;
    cursor: pointer;
}

.third .right .card h2 {
    padding-top: 23px;
    padding-bottom: 15px;
} 

.third .right .card p {
    padding-bottom: 60px;
}

.third .right .card div {
    display: flex;
    gap: 10px;
}

.move-right {
    transform: translateX(15px);
    transition: 1s;
}

svg {
    width: 27px;
    padding: 0 5px;
}

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    
}

.arrow1 {
    background: rgb(224, 239, 255);
}

.arrow1 svg {
    fill: rgb(0, 51, 153);
}

.arrow2 {
    background: rgb(227, 245, 255);
}

.arrow2 svg {
    fill: rgb(50, 150, 255);
}

.arrow3 {
    background: rgb(228, 255, 240);
}

.arrow3 svg {
    fill: rgb(6, 155, 64);
}

.arrow4 {
    background: rgb(253, 231, 245);
}

.arrow4 svg {
    fill: rgb(229, 40, 142);
}
.card .last-item p {
    margin-top: 5px;
}

.third .right .card .last-item {
    transition: all 0.5s ease;
}
.four {
    padding: 100px 0;
    padding-bottom: 150px;
}

.four .four-wrapper {
    display: flex;
    gap: 100px;
    max-width: 1200px;
    margin: 0 auto;
}

.four .four-wrapper {
    padding-left: 180px;
    position: relative;
}

.four .four-wrapper img {
    width: 300px;
    padding-left: 30px;
    position: relative;
    z-index: 100;
}

.four .four-wrapper .dot {
    position: absolute;
    top: 5%;
    left: 40%;
    width: 50px;
}

.four .four-wrapper .circle {
    position: absolute;
    width: 300px;
    left: 4%;
    top: 30%;
}


.four .four-wrapper .right {
    padding-top: 80px;
}

.four-wrapper .right .p1 {
    padding: 10px 13px;
    border-radius: 50px;
    background: #f7f0ff;
    color: #7913e5;
    width: 170px;
    font-weight: bold;
}

.four-wrapper .right .p2 {
    max-width: 470px;
    font-size: 18px;
    padding-bottom: 20px;
}

.four-wrapper .right h1 {
    font-size: 50px;
    line-height: 50px;
    padding: 30px 0;
}

.four-wrapper .right a {
    font-size: 18px;
    color: #7913e5;
    font-weight: 500;
    
}

.five .wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background: #0d60d8;

}

.five .wrapper .left {
    padding: 75px;
    color: white;

}

.five .wrapper .left h2 {
    font-size: 50px;
    max-width: 500px;
}

.five .wrapper .left p {
    max-width: 420px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.five .wrapper .left .goodswill {
    color: white;
    display: flex;
}

.five .wrapper .left .goodswill svg {
    width: 50px;
    
}

.five .wrapper .left .goodswill {
    margin: -10px;
    padding-top: 20px;
    
}

.goodswill div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.five .wrapper .right .image {
    background-image: url('images/five.jpg');
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
    height: 500px;
    width: 600px;
    
    
}

.six {
    margin: 100px 0;
}

.six .wrapper {
    display: flex;
    gap: 100px;
    padding: 0 70px;
}

.six .wrapper .left {
    height: 500px;
    overflow: hidden;
    position: relative;
}
.six .wrapper .card {
    position: relative;
    top: 0%;
    margin-bottom: 20px;
    padding: 13px;
    animation: moving 20s linear infinite;
}


.six .wrapper .card3, .six .wrapper .card4 {
    max-width: 400px;
    min-height: 150px;
    background: #f9f9f9;
}

.six .wrapper .card1 {
    max-width: 400px;
    min-height: 450px;
    background: #f9f9f9;
}

.six .wrapper .card2 {
    max-width: 400px;
    min-height: 250px;
    background: #f9f9f9;
}



.six .wrapper img {
    width: 40px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
}

.six .wrapper .profile {
    display: flex;
    gap: 20px;
    padding-top: 14px;
}


.six .wrapper .left p {
    font-size: 13px;
}

.six .wrapper .left small {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}

.six .wrapper .left h6 {
    font-size: 14px;
    font-weight: bold;
}

.six .wrapper .right {
    padding-top: 50px;
}

.six .wrapper .right h2 {
    font-size: 30px;
    /* padding-bottom: 20px; */
}

.six .wrapper .right p {
    max-width: 420px;
    padding: 30px 0;
    font-size: 17px;
    line-height: 25px;
}

@keyframes moving {
    0% {
        top: 0px
    }

    100% {
        top: -600px
    }
}

.seven {
    background: #f9f9f9;
}

.seven .wrapper {
    display: flex;
    gap: 200px;
    padding: 60px 100px;

}

.seven .wrapper .left h2 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 25px;
    
}
.seven .wrapper .right {
    display: flex;
    gap: 50px;
}
.seven .wrapper .right .image {
    width: 150px;
}

.reveal {
    position: relative;
    transform: translateX(-30px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal:nth-of-type(odd){
    transform: translateY(-60px);
    transition: all 3s ease;
}

.reveal.active {
    transform: translateX(0);
    opacity: 1;
}

.seven .wrapper .right .image  img {
    width: 100%;
}

.box, .box2 {
    position: relative;
    transform: translateX(-200%);
    opacity: 0;
    transition: all 1s ease-in-out;

}

.box:nth-of-type(even){
    transform: translateX(200%);
    transition: all 2s ease-in-out;
}

.box2:nth-of-type(even){
    transform: translateX(200%);
    transition: all 2s ease-in-out;
}

.box.show {
    transform: translateX(0);
    opacity: 1;
}

.box2.show {
    transform: translateX(0);
    opacity: 1;
}

footer {
    padding: 20px 20px;
    background: white;
    margin-top: 100px;
}

footer a {
    font-size: 13px;
    font-weight: 300;
    
}

.container-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bottom-items {
    text-align: center;
    max-width: 740px;
   margin: 40px auto;
   font-size: 13px;
}

.bottom-items .down1 {
    margin-bottom: 30px;
}

.bottom-items .down2 {
    color: #083e9e;
    font-weight: 500;
}

.contact {
    text-align: right;
    max-width: 300px;
    margin-right: 20px;
}

.contact p{
    margin: 20px 0;
}

.socials a {
    font-size: 25px;
    
}

.socials {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

@media screen and (max-width: 500px){

    body {
        overflow-x: auto;
    }
    .top-nav{
        padding: 30px;
        margin: 0;
    }

    .header{
        position: fixed;
    }

    .logoimage{
        width: 150px;
    }

    .links .newpage.no {
        display: none;
    }

    .user{
        display: none;
    }

    .menu-btn, .close-btn {
        position: fixed;
        top: 25px;
        right: 20px;
        font-size: 2rem;
    }

    .menu-btn {
        display: block;
    }

    .close-btn {
        display: none;
    }

    .first-first {
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
        gap: 70px;
    }

    .first .left h1 {
        font-size: 45px;
        line-height: 60px;
    }

    .side {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .side button {
        width: 150px;
    }

    .first .right .image {
        margin: 0;
        font-size: 10px;
        text-align: center!important;
        margin-left: -40px;
    }

    .first .right .image .rect {
       width: 270px;
       left: 10%;
    }
    
    .first .right .image .girl {
        width: 270px;
        left: 12%;
    }
    
    .first .right .image .red {
       left: -2%;
    
    }
    
    .first .right .image .gr {
        left: 50%;
    
    }
    
    .first .right .image .cross {
        left: 2%;
    }
    
    .first .right .image .round {
      right: 5%;
    }
    
    .first .right .image .dot-dot {
        left: 0%;
    }  
    
    .second {
        flex-direction: column;
        padding: 20px 0;
        margin-left: 10px;
        text-align: center;
    }

    .second .left {
        margin: auto;
    }

    .second .right h1 {
        font-size: 30px;
    }

    .third-wrapper{
        flex-direction: column;
        align-items: center;
    }

    .third {
        padding-top: 20px;
        text-align: center;
    }

    .third .right {
        grid-template-columns: 1fr;
    }

    .four{
        padding: 60px 0;
    }

    .four .four-wrapper {
        flex-direction: column;
        padding-left: 0;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .four .four-wrapper img {
        padding-left: 10px;
    }

    .four.four-wrapper .right {
        padding: 10px;
        text-align: center;
    }

    .four .four-wrapper .right h1 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    .four .four-wrapper .right .p1 {
        text-align: center;
        margin: auto;
    }

    .four .four-wrapper .right .p2 {
        font-size: 16px;
        padding: 20px;
    }

    .five .wrapper {
        grid-template-columns: 1fr;
    }

    .five .wrapper .left {
        padding: 30px;
        text-align: center;
    }

    .five .wrapper .left h2 {
        font-size: 35px;
    }
    .five .wrapper .right .image {
        width: 400px;
        height: 400px;
    }

    .five .wrapper .left .goodswill {
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }

    .six {
        margin: 40px 0;
    }

    .six .wrapper {
        flex-direction: column;
        padding: 30px;
        gap: 20px;
    }

    .six .wrapper .right {
        text-align: center;
    }

    .seven .wrapper {
        flex-direction: column;
        gap: 50px;
        padding: 40px 0;
        align-items: center;
        justify-content: center;
    
    }

    .seven .wrapper .right {
        flex-direction: column;
    }

   
    .container-wrapper {
        flex-direction: column;
        gap: 35px;
        text-align: center;
    }

    .contact {
        text-align: center;
        margin: auto;
    }


    .socials {
        margin: auto;
        justify-content: center;
    }

    .features a{
        font-size: 15px;
    }

    .features h4 {
        font-size: 18px;
    }
}