@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif!important;
    color: #353535;
    font-size: 16px;

}

nav{
    display: flex;
    text-align: center;
    margin: 1em;
    font-size: 18px;
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
}

.links{
    width: 70%;
    display: flex;
}

.logoimage{
    width: 80%;
    height: auto;
}

.newpage{
    margin: auto 2%;
    list-style-type: none;
    font-size: 0.9em;
}

.newpage>a{    
    text-decoration: none;
    color: #0c1825;
}

.user{
    display: flex;
}

.sign-in-button{
    padding: 1em;
    margin-right: 1em;
    color: #0c1825;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 10px;
    font-weight: 600;    
    transition: border .8s,color .8s;
    font-size: 16px;
}

.sign-in-button:hover{
    border: 1px solid #3457D5;
    color: #3457D5;
}

.register-button{
    padding: 1em 1.5em;
    color: #fff;
    background: #0c1825;
    transition: background-color .8s;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;  
}

.register-button:hover{
    border: 1px solid #3457D5;
    background: #3457D5;
}

li{
    list-style-type: none;
    margin-bottom: 20px;
}

a{
    color: #353535;
    text-decoration: none;
}

h4, .socials {
    margin-bottom: 30px;
}

footer {
    padding: 70px 20px;
    background: white;
}
footer a {
    font-size: 13px;
    font-weight: 300;
    
}

.container-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
}

.bottom-items {
    text-align: center;
    max-width: 740px;
   margin: 40px auto;
   font-size: 13px;
}

.bottom-items .down1 {
    margin-bottom: 30px;
}

.bottom-items .down2 {
    color: #083e9e;
    font-weight: 500;
}

.contact {
    text-align: right;
    max-width: 300px;
    margin-left: 100px;
}

.contact p{
    margin: 20px 0;
}
.features {
    margin-right: 60px;
    margin-left: 20px;
}

.socials a {
    font-size: 25px;
    
}

.socials {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}